button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 12px 16px;
    border-bottom: 1px solid rgb(238, 238, 238, 1);
}

header .icon-container span{
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: rgb(0, 0, 0, 1);
    margin-right: 6px;
}

header .icon-container .icon-container__right-img{
    margin-left: 16px;
}

section{
    display: flex;
    flex-direction: column;
}

.item-container{
    display: flex;
    padding: 16px;
    border-bottom: 1px solid rgb(238, 238, 238, 1);
}

.item-container img{
    border-radius: 4px;
    margin-right: 16px;
    max-width: 100%;
    max-height: 110px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item .item__desc{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
    margin-bottom: 24px;
}

.item .item__desc .item__name{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgb(0, 0, 0, 1);
}

.item .item__desc .item__subdesc{
    display: flex;
    gap: 4px;
}

.item .item__desc .item__subdesc span{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgb(140, 140, 140, 1);
}

.item .item__desc .item__price{
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: rgb(255, 126, 54, 1);
}

.item .item__icon{
    display: flex;
    justify-content: flex-end;
    gap: 0px 4px;
}

.item .item__icon .item__icon-container{
    gap: 0px 2px;
    display: flex;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgb(140, 140, 140, 1);
}

.item .item__icon .item__icon-container img{
    margin-right: 0px;
}

.bottom-bar{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.bottom-bar .bottom-bar__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px 0px;
    width: 100%;
}
.bottom-bar .bottom-bar__container span{
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: rgb(0, 0, 0, 1);
}

nav .add-btn{
    background: rgb(255, 126, 54, 1);
    border-radius: 100px;
    position: fixed;
    bottom: 89px;
    right: 16px;
    padding: 12px;
    width: 48px;
    height: 48px;
}

