* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    top : 47px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.location {
    font-size: 18px;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 10px;

}


.item-list {
    width: 390px; /* 고정 너비 390px */
    height: 634px; /* 자동 높이 (컨텐츠에 따라 조정) */
    padding: 16px 0 0 0; /* 위쪽 패딩 16px, 나머지는 0 */
    display: flex;
    flex-direction: column; /* 아이템을 수직으로 정렬 */
}

.item {
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: end;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 10px;
    
}

.item-info {
    flex-grow: 1;
}

.item-info h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.item-info p {
    font-size: 12px;
    color: #888;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #f60;
}

.item-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 12px;
    color: #888;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    position: relative;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.item-interest {
    display: flex;
    align-items: center;
    justify-content: end;
    gap : 5px;
}
.item-cheat{
    width: 16px;
    height: 16px;
}

.item-cheat img{
    width: 100%;
    height: 100%;
}

.nav-item img {
    width: 24px;
    height: 24px;
}

.add-button {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 48px;
    height: 48px;
    background-color: #ff7f00;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus_button{   
    display: flex;
    justify-content: center;
}
