.container {
    width: 100%;
    min-width: 390px;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 150px;
}

.categoryTitle {
    padding: 26px 24px 2px;
    color: #333D4B;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.storeList {
    width: 100%;
    display: flex;
    flex-direction: column;
}