/* Global Styels */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}
/* body {
    padding-bottom: 54px;
} */

/* daangn Styles */
.post-header {
    position: relative;
}
.post-header header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    box-sizing: border-box;
}
.post-header .post-header__icon-container {
    display: flex;
    gap: 16px;
    align-items: center;
}
.post-header .post__image-container .post__image {
    max-width: 100%;
    max-height: 100%;   
}

.post {
    padding: 0 16px;
    padding-bottom: 54px;
}
.post > section {
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}
.post > section:last-child {
    border-bottom: none;
}
.post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post__header .header__user {
    display: flex;
    justify-items: space-between;
    align-items: center;
    gap: 8px;
}
.header__user .user__profile-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.header__user .user__info {
    display: flex;
    flex-direction: column;
}
.header__user .user__info .user__name {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 4px;
}
.header__user .user__info .user__address {
    color: #4f4f4f;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.post__header .header__temperature {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__temperature .temperature__container {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}
.temperature__container .temperature__indicator {
    margin-right: 4px;
    color: #4ac1db;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.temperature__indicator .temperature__bar {
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
    border-radius: 10px;
}
.temperature__bar-value {
    width: 37%;
    height: 2px;
    border-radius: 10px;
    background-color: #4ac1db;
}
.header__temperature .temperature__description {
    color: #4f4f4f;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    text-decoration-line: underline;
}

.post__content {

}
.post__content .post__title {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 8px;
}
.desc__container {
    display: flex;
    gap: 2px;
    color: #8c8c8c;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    .desc-clickable {
        text-decoration: underline;
    }
}
.post__content .post__text {
    margin: 16px 0;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.post .section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .section__title {
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }
}
.post .products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 16px;
    margin: 16px 0 8px;
}
.product__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product__container .product__img {
    width: 100%;
    max-height: 118px;
    object-fit: cover;
    border-radius: 4px;
}
.product__container .product__name {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.product__price {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 8px 16px 12px;
    border-top: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.bottom-bar .bar__chat-btn {
    border-radius: 4px;
    background: #ff7e36;
    padding: 8px 16px;
    color: var(--white, #fff);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.bar__info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    .divider {
        width: 1px;
        align-self: stretch;
        background-color: #eee;
    }
}
.bar__info-container .bar__info {
    display: flex;
    flex-direction: column;
    .product__desc {
        color: #8c8c8c;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }
}