.title{
    width: 390px;
    height: 93px;
    top: 88px;
    position: absolute;

}
.titletext
{
    width: 298px;
height: 64px;
top: 25px;
left: 24px;
gap: 0px;
opacity: 0px;

}
.bold{
    width: 251px;
height: 31px;
top: 25px;
left: 24px;
gap: 0px;
opacity: 0px;
font-family: Pretendard;
font-size: 22px;
font-weight: 700;
line-height: 31.03px;
text-align: left;
position: absolute; 
color: #191f28;
font-family: "Pretendard-Bold", Helvetica;
font-size: 22px;
font-weight: 700;

}
.text{
height: 20px;
top: 69px;
left: 24px;
gap: 0px;
opacity: 0px;
font-family: Pretendard;
font-size: 17px;
font-weight: 500;
line-height: 20.29px;
text-align: left;
position: absolute; 
color: #333d4b;
font-family: "Pretendard-Medium", Helvetica;
font-size: 17px;
font-weight: 500;

}
.grid_food{
   
    top: 251px;
    left: 24px;
    gap: 10px;
    opacity: 0px;
    display: flex;
    flex-direction: column; 
    position: absolute;
    margin: 0 auto;
    background-color: red;
    }
    .category{
        display: flex;
        gap: 9px;
        
    }
    .prod {
        width: 108px;
        height: 74px;
        border-radius: 8px;
        opacity: 1;
        background: #FAFAFB;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;

    }
    
    .food {
        width: 28px;
        height: 28px;
        opacity: 1;
    }
    
    .foodtext {
        margin-top: 5px; 
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 600;
        line-height: 16.71px;
        text-align: center;
    }
   