.storeList {
    width: 100%;
    height: 59px;
}

.storeCategory {
    padding: 26px 0px 2px 24px;
    color: #191F28;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.storesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.store {
    display: flex;
    gap: 17px;
    margin: 24px;
    padding: 16px, 24px, 17px, 24px;
}

.storeImage {
    width: 54px;
    height: 54px;
}

.storeContent {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.storeRank {
    color: #333D4B;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.storeName {
    color: #333D4B;
font-family: Pretendard;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.storeDetail {
    color: #6B7684;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}