.container{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 24px;
}
.menuImg{
    width: 54px;
    height: 54px;
    border-radius: 8px;
}
.menuInfo{
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuName{
    font-size: 17px;
    font-weight: bold;
    color: #333D4B;
    margin-left: 2px;
}
.menuComponents, .menuPrice{
    font-size: 13px;
    color: #6B7684;
    margin-left: 2px;
}
.menuCnt{
    font-size: 15px;
    color: #6B7684;
}