.number-keypad {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  .number-keypad-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
  }
  
  .number-keypad-button {
    font-size: 24px;
    padding: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
  }
  
  .number-keypad-button:active,
  .number-keypad-button.pressed {
    background-color: rgb(228, 228, 228);
  }