.homeLink {
  display: flex;
  width: 110px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 7px 15px 10px 10px;
  align-items: center;
}
.headerArrow {
  display: flex;
  width: 100%;
  align-items: center;
}
.orderCancel {
  color: #333d4b;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.borderLine {
  width: 390px;
  height: 16px;
  background: #f2f4f6;
}
.storeContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 26px 25px 12px 24px;
}
.storeName {
  color: #6b7684;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.leastPriceContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.leastPrice {
  color: #f04452;
  text-align: right;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.moreBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 19px;
  padding-bottom: 20px;
}
.moreText {
  color: #3182f6;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: 4px;
}

.orderResultContainer {
  padding: 16px 23px 18px 24px;
}
.orderPriceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 9px;
}
.priceText {
  color: #8b95a1;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price {
  color: #505967;
  text-align: right;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.totalPriceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 200px;
}
.totalPriceText {
  color: #4e5968;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.totalPrice {
  color: #4e5968;
  text-align: right;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.finalOrderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
  padding-bottom: 21px;
  padding-top: 20px;
  background-color: white;
  border-top: 1px solid #e5e8eb;
}
.finalLeastPrice {
  color: #6b7684;
  text-align: center;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 19px;
}
