/*Global Styles*/
button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

/*Daangn Styles*/


.top-header header{
    width: 100%;
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    box-sizing: border-box;
    border-style: solid;
    border-bottom-color: #EEEEEE;
    border-bottom-width: 1px;
}

.top-header{
    
}

.header-place{
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 28px;
    flex-direction: row;
    align-items: center;
}
#place{
    width: 50px;
    height: 28px;
    border-right: 6px;
    display: flex;
    align-items: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}
.header-icon-container{
    width: 104px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.post{
    padding: 0 16px;
}
.post > section{
    padding: 16px 0;
    border-bottom: 1px solid #EEEEEE;
    width: auto;
    height: 110px;
}
.post > section:last-child{
    border-bottom: none;
}
.daangn-post > img{
    border-radius: 4px;
}
.daangn-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.post-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.post-item-info{
    display: block;
    height: 90px;
    margin-bottom: 4px;
    flex-direction: row;
}
.item-name{
    margin-bottom: 4px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    display: block;
}
.posting-place-date{
    margin-bottom: 4px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #8C8C8C;
    display: block;
}
.item-price{
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color:#FF7E36;
}
.post-item-chat-heart{
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.post > :last-child{
    margin-bottom: 60px;
}
.post-item-chat-heart > span{
    margin-right: 4px;
}
.chat-icon{
    margin-right: 2px;
}
.heart-icon{
    margin-right: 2px;
}

.bottom-bar{
    border-top: #c5c6c7;
    width: 100%;
    height: 58px;
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 8px 16px;
    border-style: solid;
    border-top-color: #EEEEEE;
    border-top-width: 1px;
}
.bottom-bar-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.bottom-bar-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-bar-icons > span{
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.plus-button-circle{
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #FF7E36;
    padding: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}