.headerContainer {
  padding: 10px 0px 10px 10px;
}
.storesContent {
  padding-top: 26px;
  padding-left: 24px;
}
.categoryName {
  color: #191f28;
  font-family: Pretendard;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.storeInfo {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 400px;
}
