.menuItemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px 16px 0px;
}
.menuItemImg {
  width: 54px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 27px;
  background: #ececec;
  margin-right: 16px;
}
.menuItemInfoContainer {
  padding-right: 30px;
}
.menuItemName {
  color: #333d4b;
  font-family: Pretendard;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 5px;
}
.menuItemPrice {
  color: #6b7684;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
}
.menuItemIngredients {
  width: 180px;
  color: #6b7684;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
